@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&family=Work+Sans&display=swap');

--------------------------------------------------------------
body,
button
{
  color: #404040;
  font-family: 'Unbounded', cursive;
  font-size: 14px;
  line-height: 1.5;
}

input,
select,
section,
textarea 
body {
  color: #404040;
  font-family: 'Work Sans';
  font-size: 14px;
  line-height: 1.5;
  padding: 0 3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Unbounded', cursive;
  letter-spacing: 2px;
}

p {
  font-family: 'Work Sans';
  margin-bottom: 1.5em;
}

.title--main {
  margin-block-end: 0;
}

.show {
  display: block;
  transition: 800ms;
  opacity: 1;
}

.show.active {
  transform: translateY(100px) scale(0) rotateY(180deg);
  opacity: 0;
} 