.dogs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align:center;
}

.dog {
    margin: 0.5rem;
    color: black;
    padding: .5rem;
}

.dog_header {
    font-size: larger;
    font-weight: 700;
    line-height: 3rem;
}

.dog_footer {
    margin: 1rem 0 0.25rem 0;
    font-style: oblique;
}
